extends skeleton
block title
  title 404: Not Found
block content
    h1 404: Not Found
    p We weren't able to find what you were looking for.
    p If you typed in a URL, check it was correct.
    a(href='/') Return to home page
